<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Items List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom styling */
        body {
            padding-top: 60px; /* Adjust based on navbar height */
        }
        .table td, .table th {
            vertical-align: middle;
        }
    </style>
</head>

<body>

{% include 'admin_navbar.html' %}

<!-- Page Content -->
<div class="container mt-4">
    <div class="row mb-3">
        <!-- Search Bar -->
        <div class="col-md-6">
			<form action="{{ url_for('searchItem') }}" method="POST">
            <input name="search_text" type="text" class="form-control" placeholder="Search...">
			</form>
        </div>
        <!-- Add Item Button -->
        <div class="col-md-6 text-right">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Add Item</button>
        </div>
		
		<!-- Add Item Modal -->
		<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Add Item Form -->
						<form action="{{url_for('insertItem')}}", method="POST">
							<div class="form-group">
								<label for="addItemISBN">ISBN</label>
								<input name="isbn" type="text" class="form-control" id="addItemISBN" placeholder="Enter ISBN">
							</div>
							<div class="form-group">
								<label for="addItemTitle">Title</label>
								<input name="title" type="text" class="form-control" id="addItemTitle" placeholder="Enter Title">
							</div>
							<div class="form-group">
								<label for="addItemAuthor">Author</label>
								<input name="author" type="text" class="form-control" id="addItemAuthor" placeholder="Enter Author">
							</div>
							<div class="form-group">
								<label for="addItemGenre">Genre</label>
								<input name="genre" type="text" class="form-control" id="addItemGenre" placeholder="Enter Genre">
							</div>
							<div class="form-group">
								<label for="addItemPrice">Price</label>
								<input name="price" type="text" class="form-control" id="addItemPrice" placeholder="Enter Price">
							</div>
							<div class="form-group">
								<label for="addItemType">Type</label>
								<input name="itype" type="text" class="form-control" id="addItemType" placeholder="Enter Type">
							</div>
							<div class="form-group">
								<label for="addItemQuantity">Quantity</label>
								<input name="stocks" type="text" class="form-control" id="addItemQuantity" placeholder="Enter Quantity">
							</div>
						
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Add</button>
					</div>
					</form>
				</div>
			</div>
		</div>
    </div>
	
	{%with messages = get_flashed_messages()%}
	{%if messages%}
	{%for message in messages%}
	<p class="text-lg {% if 'no' in message | lower or 'failed' in message | lower or 'unable' in message | lower %} text-danger {% else %} text-primary {% endif %}">{{ message }}</p>
	{%endfor%}
	{%endif%}
	{%endwith%}

    <!-- Items List Table -->
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
			{% for item in data %}
            <!-- Item List will go here (populate dynamically from backend) -->
            <tr>
					{% for val in item %}
					{% if loop.index not in [1, loop.length, loop.length-1] %}
					<td>
						{% if loop.index == 6 %}
						{% set i_price = item.5|float %}
							{{ '%.2f'|format(i_price) }}
						{% else %}
						{{ val }}
						{% endif %}
					</td>
					{% endif %}
					{% endfor %}
                <td>
                    <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#editItemModal_{{item.0}}">Edit</button>
                    <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteItemModal_{{item.0}}">Delete</button>
                </td>
				
				<!-- Edit Item Modal -->
				<div class="modal fade" id="editItemModal_{{item.0}}" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="editItemModalLabel">Edit Item</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<!-- Edit Item Form -->
								<form action="{{url_for('updateItem')}}" method="POST">
									<div class="form-group">
										<input type="hidden" name="id" value="{{item.0}}"></input>
										<label for="editItemISBN">ISBN</label>
										<input name="isbn" type="text" class="form-control" id="editItemISBN" placeholder="Enter ISBN" value="{{item.1}}" required>
									</div>
									<div class="form-group">
										<label for="editItemTitle">Title</label>
										<input name="title" type="text" class="form-control" id="editItemTitle" placeholder="Enter Title" value="{{item.2}}" required>
									</div>
									<div class="form-group">
										<label for="editItemAuthor">Author</label>
										<input name="author" type="text" class="form-control" id="editItemAuthor" placeholder="Enter Author" value="{{item.3}}" required>
									</div>
									<div class="form-group">
										<label for="editItemGenre">Genre</label>
										<input name="genre" type="text" class="form-control" id="editItemGenre" placeholder="Enter Genre" value="{{item.4}}" required>
									</div>
									<div class="form-group">
										<label for="editItemPrice">Price</label>
										<input name="price" type="text" class="form-control" id="editItemPrice" placeholder="Enter Price" value="{{item.5}}" required>
									</div>
									<div class="form-group">
										<label for="editItemType">Type</label>
										<input name="itype" type="text" class="form-control" id="editItemType" placeholder="Enter Type" value="{{item.6}}" required>
									</div>
									<div class="form-group">
										<label for="editItemQuantity">Quantity</label>
										<input name="stocks" type="text" class="form-control" id="editItemQuantity" placeholder="Enter Quantity" value="{{item.7}}" required>
									</div>
								
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">Update</button>
							</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Delete Item Modal -->
				<div class="modal fade" id="deleteItemModal_{{item.0}}" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteItemModalLabel">Delete Item</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Are you sure you want to delete this item?</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
								<a href="/delete-item/{{item.0}}" type="button" class="btn btn-danger">Yes</a>
							</div>
						</div>
					</div>
				</div>
            </tr>
			
			{% endfor %}
        </tbody>
    </table>
</div>

<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
