	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Admin Items List</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" importance="high">
		<style>
			body {
				background-color: #f8f9fa;
				color: #000000;
			}
			.navbar-light {
				background-color: #ffffff !important;
			}
			.table {
				background-color: #ffffff;
				color: #000000;
				border-radius: 10px;
			}
			.table th,
			.table td {
				border-color: #ffffff !important;
			}
			.btn-instagram {
				background-color: #fd4444;
				color: #ffffff;
			}
			.btn-instagram:hover {
				background-color: #af1313;
				color: #ffffff;
			}
			.modal-label {
				color: #000000;
			}
			/* Custom styles for the "Add Item" button */
			.btn-add-item {
				background-color: #007bff !important; /* Blue background */
				color: #ffffff;
				border: 2px solid #007bff !important; /* Blue border */
			}
			.btn-add-item:hover {
				background-color: #0056b3 !important; /* Dark blue background on hover */
			}
		</style>
	</head>
	<body>

	{% include 'admin_navbar.html' %}

	<!-- Content -->
	<div class="container mt-4">
		<h2>Items List</h2>

		<form action="{{ url_for('searchItem') }}" method="POST" class="mb-3">
		<!-- Search Bar -->
		<div class="input-group mb-3">
			<input name="search_text" type="text" class="form-control" placeholder="Search for items" aria-label="Search for items" aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="submit">Search</button>
			</div>
		</div>
		</form>

		<!-- Add Item Button -->
		<button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addItemModal">Add Item</button>
		
		<!-- Add Item Modal -->
		<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addItemModalLabel">Add Item</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Add Item Form -->
						<form action="{{ url_for('insertItem') }}" method="POST" enctype="multipart/form-data">
							<div class="form-group">
								<label for="addItemISBN">ISBN:</label>
								<input name="isbn" type="text" class="form-control" id="addItemISBN" required>
							</div>
							<div class="form-group">
								<label for="addItemTitle">Title:</label>
								<input name="title" type="text" class="form-control" id="addItemTitle" required>
							</div>
							<div class="form-group">
								<label for="addItemAuthor">Author:</label>
								<input name="author" type="text" class="form-control" id="addItemAuthor" required>
							</div>
							<div class="form-group">
								<label for="addItemGenre">Genre:</label>
								<input name="genre" type="text" class="form-control" id="addItemGenre" required>
							</div>
							<div class="form-group">
								<label for="addItemPrice">Price:</label>
								<input name="price" type="text" class="form-control" id="addItemPrice" required>
							</div>
							<div class="form-group">
								<label for="addItemType">Item Type:</label>
								<select name="itype" class="form-control" id="addItemType" required>
									<option value="Book">Book</option>
									<option value="E Book">E-Book</option>
									<option value="Audio Book">Audio Book</option>
								</select>
							</div>
							<div class="form-group">
								<label for="addItemStock">Stock:</label>
								<input name="stocks" type="number" class="form-control" id="addItemStock" min="1" required>
							</div>
							<div class="form-group">
								<label for="addItemImage">Image:</label>
								<input name="img" type="file" class="form-control-file" id="addItemImage" accept="image/*">
							</div>
							<button type="submit" class="btn btn-primary">Add Item</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		{%with messages = get_flashed_messages()%}
		{%if messages%}
		{%for message in messages%}
		<p class="text-lg {% if 'no' in message | lower or 'failed' in message | lower or 'unable' in message | lower %} text-danger {% else %} text-success {% endif %}">{{ message }}</p>
		{%endfor%}
		{%endif%}
		{%endwith%}
		
		<!-- Items List -->
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ISBN</th>
					<th scope="col">Title</th>
					<th scope="col">Author</th>
					<th scope="col">Genre</th>
					<th scope="col">Price</th>
					<th scope="col">Type</th>
					<th scope="col">Stock</th>
					<th scope="col">Image</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in data | reverse %}
				<tr>
					{% for val in item %}
					{% if loop.index not in [1, loop.length, loop.length-1] %}
					<td>
						{% if loop.index == 6 %}
						{% set i_price = item.5|float %}
							{{ '%.2f'|format(i_price) }}
						{% else %}
						{{ val }}
						{% endif %}
					</td>
					{% endif %}
					{% endfor %}
					<!-- New Image Column -->
					<td>
						<button type="button" class="btn btn- view-image-btn" data-toggle="modal" data-target="#viewImageModal_{{ item.0 }}" data-img="{{ item[8] }}">View Image</button>
					</td>
					<td>
						<button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editItemModal_{{item.0}}">Edit</button>
						<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteItemModal_{{item.0}}">Delete</button>
					</td>
				</tr>

				<!-- View Image Modal -->   
				<div class="modal fade" id="viewImageModal_{{ item.0 }}" tabindex="-1" role="dialog" aria-labelledby="viewImageModalLabel_{{ item.0 }}" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="viewImageModalLabel_{{ item.0 }}">View Image</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<img src="{{ url_for('static', filename='images/upload_img/' + item[9].split('/')[-1].replace('\\', '/')) }}" alt="Item Image" id="itemImage_{{ item.0 }}" width="200">
							</div>
						</div>
					</div>
				</div>

				<!-- Edit Item Modal -->
				<div class="modal fade" id="editItemModal_{{item.0}}" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="editItemModalLabel">Edit Item</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<!-- Edit Item Form -->
								<form action="{{url_for('updateItem')}}" method="POST" enctype="multipart/form-data">
									<div class="form-group">
										<input type="hidden" name="id" value="{{item.0}}"></input>
										<input type="hidden" name="isbn" value="{{item.1}}"></input>
										<label for="editItemTitle">Title:</label>
										<input name="title" type="text" class="form-control" id="editItemTitle" value="{{item.2}}" required>
									</div>
									<div class="form-group">
										<label for="editItemAuthor">Author:</label>
										<input name="author" type="text" class="form-control" id="editItemAuthor" value="{{item.3}}" required>
									</div>
									<div class="form-group">
										<label for="editItemGenre">Genre:</label>
										<input name="genre" type="text" class="form-control" id="editItemGenre" value="{{item.4}}" required>
									</div>
									<div class="form-group">
										<label for="editItemPrice">Price:</label>
										<input name="price" type="text" class="form-control" id="editItemPrice" value="{{item.5}}" required>
									</div>
									<div class="form-group">
										<label name="itype" for="editItemType">Item Type:</label>
										<select name="itype" class="form-control" id="editItemType" required>
											{% if item.6 == 'Book' %}
											<option value="Book" >Book</option>
											<option value="E Book" >E-Book</option>
											<option value="Audio Book">Audio Book</option>
											{% endif %}
											{% if item.6 == 'E Book' %}
											<option value="E Book" >E-Book</option>
											<option value="Book" >Book</option>
											<option value="Audio Book">Audio Book</option>
											{% endif %}
											{% if item.6 == 'Audio Book' %}
											<option value="Audio Book">Audio Book</option>
											<option value="E Book" >E-Book</option>
											<option value="Book" >Book</option>
											{% endif %}
										</select>
									</div>
									<div class="form-group">
										<label for="editItemStock">Stock:</label>
										<input name="stocks" type="number" class="form-control" id="editItemStock" min="0" value="{{item.7}}" required>
									</div>
									<div class="form-group">
										<label for="editItemImage">Image:</label>
										<input name="img" type="file" class="form-control-file" id="editItemImage" accept="image/*">
									</div>																							
									<button type="submit" class="btn btn-primary">Update</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!-- Delete Item Modal -->
				<div class="modal fade" id="deleteItemModal_{{item.0}}" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="deleteItemModalLabel">Delete Item</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Are you sure you want to delete this item?</p>
								<a href="/delete-item/{{item.0}}" type="button" class="btn btn-danger">Yes</a>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<!-- JavaScript
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			let viewImageBtns = document.querySelectorAll(".view-image-btn");

			viewImageBtns.forEach(function(btn) {
				btn.addEventListener("click", function() {
					let modalId = this.getAttribute("data-target");
					let imgPath = this.getAttribute("data-img");
					let modalImg = document.querySelector(modalId + " img");
					modalImg.src = imgPath;
				});
			});
		});
	</script>

	-->

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- Bootstrap JS and Popper.js (Optional) -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	</body>
</html>
