<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        /* Custom CSS */
        .card {
            border: 2px solid rgb(83, 0, 0);
            transition: background-color 0.3s ease, color 0.3s ease;
        }
        .card:hover {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body style="background-color: #ffffff; color: #000000;">

{% include 'admin_navbar.html' %}

<!-- Content -->
<div class="container mt-4">
    <h2>Dashboard</h2>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Customers</h5>
                    <p class="card-text text-center display-4"><strong>{{ ttl_cust }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Items</h5>
                    <p class="card-text text-center display-4"><strong>{{ ttl_item }}</strong></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <p class="card-text text-center display-4"><strong>{{ ttl_ord }}</strong></p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap JS and Popper.js (Optional) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    function logout() {
        // Add your logout logic here
        alert("Logout clicked. Add your logout logic here.");
    }
</script>

</body>
</html>
