<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Orders List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background-color: #ffffff; color: #000000;">

{% include 'admin_navbar.html' %}

<!-- Content -->
<div class="container mt-4">
    <h2>Orders List</h2>
	
	{%with messages = get_flashed_messages()%}
	{%if messages%}
	{%for message in messages%}
	<p class="text-lg {% if 'no' in message | lower or 'failed' in message | lower or 'unable' in message | lower %} text-danger {% else %} text-success {% endif %}">{{ message }}</p>
	{%endfor%}
	{%endif%}
	{%endwith%}

    <!-- Orders List -->
    <table class="table table-light">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Order Date</th>
                <th scope="col">Total Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for row in orders|reverse %}
            <!-- Sample order -->
            <tr data-toggle="modal" data-target="#orderDetailsModal_{{row.0}}">
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>${{row.4}}</td>
                <td>{{row.5}}</td>
            </tr>
			
			<!-- Order Details Modal -->
			<div class="modal fade" id="orderDetailsModal_{{row.0}}" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<h6>Order Date: {{row.2}}</h6>
							<h6>Customer Name: {{row.1}}</h6>

								<div class="item-list">
									<div class="row">
										<div class="col-md-4">
											<p><strong>Item Name:</strong></p>
										</div>
										<div class="col-md-4">
											<p><strong>ISBN:</strong></p>
										</div>
										<div class="col-md-4">
											<p><strong>Quantity:</strong></p>
										</div>
									</div>
									
									{% for data in data2 %}
									{% if data.0 == row.0 %}
									<div class="row">
										<div class="col-md-4">
											<p>{{data.2}}</p>
										</div>
										<div class="col-md-4">
											<p>{{data.3}}</p>
										</div>
										<div class="col-md-4">
											<p>{{data.4}}</p>
										</div>
									</div>
									<hr>
									{% endif %}
									{% endfor %}
								</div>

							<h6>Total Price: ${{row.4}}</h6>

							<!-- Update Status Form -->
							<form action="{{url_for('updateOrderStatus')}}" method="POST">
								<div class="form-group">
									<input type="hidden" name="id" value="{{row.0}}">
									<label for="orderStatus">Update Status:</label>
									
									{% if row.5 == 'Pending' %}
									
									<select name="status" class="form-control" id="orderStatus">
										<option value="Pending" >Pending</option>
										<option value="Delivered">Delivered</option>
										<option value="Cancelled">Cancelled</option>
									</select>
									
									{% else %}
									<input name="genre" type="text" class="form-control" id="addItemGenre" value="{{row.5}}" readonly>
									{% endif %}
								</div>
								{% if row.5 == 'Pending' %}
									<button type="submit" class="btn btn-primary">Update Status</button>
								{% endif %}
							</form>
						</div>
					</div>
				</div>
			</div>
            {% endfor %}

        </tbody>
    </table>
</div>

<!-- Bootstrap JS and Popper.js (Optional) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
