<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body style="background-color: #ffffff;">

{% include 'navbar.html' %}

<div class="container mb-5">
    <h2 class="mt-4 text-left">Your Order History</h2>
	
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="text-lg {% if 'no' in message | lower or 'failed' in message | lower %} text-danger {% else %} text-success {% endif %}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if items %}
        {% for orders in items %}
            <!-- Order 1 -->
            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal_{{orders['order_id']}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="deleteModalLabel">Cancel Order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-muted">Are you sure you want to cancel this order?</p>
                            <form action="{{ url_for('updateOrderStatus') }}" method="POST">
                                <input type="hidden" name="id" value="{{ orders['order_id'] }}">
                                <input type="hidden" name="status" value="Cancelled">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger">Yes</button>
                                    <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">No</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <div class="card-header bg-info text-white">
                    {{ orders['date_ordered'] }}
					<span class="float-right">
                        Total Amount: ${{ orders['total_price'] }}
                    </span>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for item in orders['orders'] %}
                            <!-- Item 1 -->
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-4">
                                    {{ item[2] }}
                                </div>
                                <div class="col-md-4 text-center">
                                    <span class="badge badge-primary badge-pill ml-2">Quantity: {{ item[4] }}</span>
                                </div>
                                <div class="col-md-4 text-right">
									<span class="badge badge-secondary badge-pill">Price: ${{ item[3] }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-right bg-light">
                    <span class="float-left text-info">{{ orders['status'] }}</span>
					{% if orders['status'] == "Pending" %}
                        <span class="float-right">
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal_{{orders['order_id']}}">
                                Cancel Order
                            </button>
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h5 class="text-center mt-3">No orders to show.</h5>
    {% endif %}
</div>


<!-- Bootstrap JS and Popper.js (Optional) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
